<div class="row">
    <div class="col-sm-12">
        <nav aria-label="Issues overview pages">
            <div class="pagerfanta text-center">
                {{ pagerfanta(items, 'twitter_bootstrap3', {
                    'css_container_class': 'pagination pagination-sm',
                    'prev_message': '&#171',
                    'next_message': '&#187;',
                })}}
            </div>
        </nav>
    </div>
</div>